/* MOBILE POTRAIT VERSION */
@media (max-width: 576px) {
  /* Navbar */
  .navbar {
    position: fixed;
    z-index: 2;
  }
  /* END Navbar */

  /* Jumbotron */
  .jumbotron {
    position: relative;
  }

   /* END Jumbotron */

  /*Working Space*/

  .workingspace {
    margin-bottom: 50px;
  }

 /* END Working Space*/
 
 /* .custom-container {
    width: 100%;
    padding: 0;
  } */

  /* Commentar */
  .review-carousel {
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    transition: transform 0.3s ease;
    height: 120%;
  }


  .review-card {
    flex: 0 0 80%;
    margin-right: 6%;
  }

  .review-card-no-mirror {
    flex: 0 0 80%;
    margin-right: 6%;
  }

  .card-img-top {
    height: 30%;
  }

  .review-card .review-content p {
    margin-bottom: 2%;
    height: auto;
  }
 /* END Commentar */

  /* Custom */

  .tombol {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: #5468e7;
  }

  .urutan-kolom1 {
    order: 1; 
    margin-bottom: 20px;
  }

  .urutan-kolom2 {
    order: 2; 
  }

  /* END Custom */
}

/* SEMUA UKURAN */

/* .body{
    margin: 0;
} */

/* Navbar */
.navbar {
  /* position: relative;
  z-index: 1; */
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; 
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar-brand {
  color: white;
  font-size: 52px;
  font-weight: 700;
}

.navbar-nav .nav-link {
  color: white; 
}
/* END Navbar */

/* Jumbotron */
.jumbotron {
  background-image: url(img/bg-web.png);
  background-size: cover;
  height: 900px;
  /* width: auto; */
  /* text-align: center; */

  /* margin-top: -90px;/ */
  margin-left: -900px;
}

.jumbotron .container {
  z-index: 1;
  position: relative;
}

.jumbotron::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, #5468e700, #5468e7b6);
  position: absolute;
  bottom: 0;
}

.jumbotron .display-4 {
  color: white;
  padding-left: 900px;
  /* text-align: right; */
  font-weight: bolder;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  /* font-size: 40px; */
  margin-top: 188.5px;
}

.jumbotron .display-4 span {
  font-weight: 600;
}

.jumbotron .arrow-forward {
  position: absolute;
  top: 14px;
  right: 4%;
  cursor: pointer;
}


.jumbotron input[type="text"] {
  padding: 5px 50px 5px 10px;
  width: 100%;
  border: 2px solid #D1ECFD;
  border-radius: 5px;
  background-color: #F5F5F5;
  color: black;

}


.jumbotron input[type="text"]::placeholder {
  color: #7676B2;

}


.jumbotron input[type="text"]:focus {
  border-color: rgb(84, 104, 231);
  box-shadow: 0 0 0 3px rgba(84, 104, 231, 0.2);
}

/* END Jumbotron */

/* Workingspace */

/* .workingspace {
  text-align: center;
} */

.workingspace h3 {
  font-size: 50px;
  /* text-transform: uppercase; */
  /* margin-top: 30px; */
  font-weight: 700;
  /* margin-right: -100px; */
}

.workingspace p {
  font-size: 18px;
  color: #232340e5;
  font-weight: 200;
  /* margin-right: -100px; */
}

/* END Workingspace */

/* Review Card */
.review-carousel {
  overflow: hidden;
  display: flex;
  transition: transform 0.3s ease;
  height: 105%;
}

.review-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  flex: 0 0 27%;
  margin-right: 6%;
}

.review-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.review-card-no-mirror {
  box-shadow: none;
}

.review-card .rating {
  margin-bottom: 10px;
}

.review-card .review-content {
  max-width: 100%;
  padding: 2%;
}

.review-card .avatar-img {
  margin-bottom: 10px;
}

.review-card .reviewer-name h4 {
  margin: 0;
  font-size: 120%;
}

.review-card .reviewer-name p {
  display: block;
  margin-bottom: 10px;
}

.review-card .review-content p {
  margin-bottom: 1%;
  height: 2%;
  
}

.card-img-top {
  height: 45%;
  object-fit: cover;
}

.custom-btn {
  background-color: #ffffff;
  color: #ffffff;
  border: none;
  border-radius: 5%;
  cursor: pointer;
}

.custom-btn img {
  width: 60%;
  height: 60%;
}
/* END Review Card */

/* MOBILE LANDSCAPE VERSION */
@media only screen and (max-width: 767px) {
  .review-carousel {
    height: auto;
    overflow-x: scroll;
    white-space: nowrap;
  }

  .review-card {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .review-card-no-mirror {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .custom-btn {
    margin: 10px;
  }
}

/* END MOBILE LANDSCAPE VERSION */


/* Footer */

/* END Footer */

/* Custom */
.font-family {
  font-family: Lexend Deca;
}

.tombol2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5468e7;
  padding: 10px 44px;
  width: 233px;
  height: 47px;
}

/* .tombol2 {
    background-color: #5468E7;
    padding: 10px, 44px, 10px, 44px;
    width: 233px;
    height: 47px;

} */

.warna-titik {
  color: #5468e7;
}

.lead {
  color: white;
  font-size: 18px;
  padding-left: 900px;
}

.form-email {
  /* width: 298px; */
  /* margin-right: 100px; */
  height: 47px;
  padding: 11px, 16px;
  width: 100%;
}
.input-group-text {
  border: none;
  background-color: rgb(255, 255, 255);
}

.lebar-kolom {
  width: 27%;
}

.link-button {
  color: #5468e7;
  font-size: 16px;
  /* display: block;
    margin-bottom: 10px; */
}

.arrow-right {
  margin-left: 8px;
}

.arrow-icon {
  /* Styling for arrow icon */
  position: absolute;
  top: 50%;
  right: -40%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.text-model {
  color: #232340;
  font-weight: 700;
  font-size: 50px;
  /* height: 50vh; */
}

/* END Custom */

/* DEKSTOP VERSION */
@media (min-width: 992px) {
  /* Navbar */
  .navbar {
    position: relative; /* Membuat navbar tetap di atas */
  }

  .navbar-brand,
  .nav-link {
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  }

  .nav-link {
    /* text-transform: uppercase; */
    margin-right: 32px;
    font-size: 16px;
    font-weight: 500;
  }

  /* .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0B63DC;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;

    } */

  /* END Navbar */

  /* Jumbotron */
  .jumbotron {
    margin-top: -105px;
    margin-left: auto;
    height: 800px;
  }

  .jumbotron::after {
    display: none;
  }

  .jumbotron .display-4 {
    font-size: 54px;
    padding-left: 0px;
    /* text-align: left; */
    /* color: white;
        margin-right: 100px;
        font-weight: 200;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
        font-size: 40px;
        margin-top: 388.5px; */
  }
  /* END Jumbotron */

  /* Workingspace */
  .workingspace {
    text-align: left;
    margin-top: 120px;
  }

  .workingspace h3 {
    font-size: 50px;
    /* text-transform: uppercase; */
    margin-top: 30px;
    font-weight: 700;
    margin-right: -100px;
  }

  .workingspace p {
    font-size: 18px;
    color: #232340e5;
    font-weight: 200;
    margin-right: -100px;
  }

  /* END Workingspace */

  /* Utility */
  .lead {
    color: white;
    font-size: 18px;
    padding-left: 0px;
  }

  .lead span {
    display: block;
  }

  .tombol {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: #5468e780;
    width: 184px;
    height: 47px;
    font-size: 18px;
    font-weight: 400;
    padding: 10px, 44px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lebar-mockup {
    margin-left: 190px;
    margin-top: -70px;
    /* width: 1050.69px; */
    height: 654px;
    float: left;
  }

  .lebar-mockup1 {
    margin-left: 190px;
    /* margin-top: -70px; */
    /* width: 1050.69px; */
    height: 654px;
    float: left;
  }
  /* END Utility */
}
