/* MOBILE VERSION */
@media (max-width: 576px) {
  .workingspace {
    margin-bottom: 50px;
  }

  .urutan-kolom1 {
    order: 1; /* Mengubah urutan kolom menjadi 2 */
    margin-bottom: 20px;
  }

  .urutan-kolom2 {
    order: 2; /* Mengubah urutan kolom menjadi 2 */
  }
}

/* ALL */

/* .body{
    margin: 0;
} */

/* Navbar */
.navbar {
  position: relative;
  z-index: 1;
}

.navbar-brand {
  font-size: 52px;
  font-weight: 700;
}
/* END Navbar */

/* Jumbotron */
.jumbotron {
  background-image: url(img/bg-web.png);
  background-size: cover;
  height: 900px;
  /* width: auto; */
  /* text-align: center; */
  position: relative;
  margin-top: -105px;
  margin-left: -900px;
}

.jumbotron .container {
  z-index: 1;
  position: relative;
}

.jumbotron::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, #5468e700, #5468e7b6);
  position: absolute;
  bottom: 0;
}

.jumbotron .display-4 {
  color: white;
  padding-left: 900px;
  /* text-align: right; */
  font-weight: bolder;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  /* font-size: 40px; */
  margin-top: 188.5px;
}

.jumbotron .display-4 span {
  font-weight: 600;
}

/* END Jumbotron */

/* Workingspace */
.workingspace {
  /* text-align: center; */
}

.workingspace h3 {
  font-size: 50px;
  /* text-transform: uppercase; */
  /* margin-top: 30px; */
  font-weight: 700;
  /* margin-right: -100px; */
}

.workingspace p {
  font-size: 18px;
  color: #232340e5;
  font-weight: 200;
  /* margin-right: -100px; */
}

/* END Workingspace */

/* Review Card */
.review-carousel {
  overflow: hidden;
  display: flex;
  transition: transform 0.3s ease;
  height: 105%;
}

.review-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Add shadow effect */
  transition: box-shadow 0.3s ease-in-out;
  /* Optional: Add rounded corners for a better look */
  flex: 0 0 27%;
  /* Adjust the width as needed */
  margin-right: 6%;
}

/* Increase shadow on hover */
.review-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.review-card-no-mirror {
  box-shadow: none;
}

.review-card .rating {
  margin-bottom: 10px;
}

.review-card .review-content {
  max-width: 100%;
  /* Set maximum width for the review content */
  padding: 2%;
  /* Add some padding to the content */
}

.review-card .avatar-img {
  margin-bottom: 10px;
}

.review-card .reviewer-name h4 {
  margin: 0;
  font-size: 120%;
}

.review-card .reviewer-name p {
  display: block;

  /* Sesuaikan style lainnya jika diperlukan */
  margin-bottom: 10px;
}

.review-card .review-content p {
  margin-bottom: 1%;
  /* Remove margin-bottom as it's not needed anymore */
  height: 2%;
  /* Enable vertical scrolling if the content exceeds the fixed height */
}

.card-img-top {
  height: 45%;
  /* Sesuaikan tinggi dengan ukuran card lain */
  object-fit: cover;
}

/* Custom styles for the Next and Previous buttons */
.custom-btn {
  background-color: #ffffff;
  /* Change the background color here */
  color: #ffffff;
  /* Change the text color (if needed) */
  border: none;
  /* Adjust the padding as needed */
  border-radius: 5%;
  /* Add rounded corners */
  cursor: pointer;
}

/* Custom styles for the Next and Previous button images */
.custom-btn img {
  width: 60%;
  /* Adjust the image width as needed */
  height: 60%;
  /* Adjust the image height as needed */
}

/* Media query for mobile landscape */
@media only screen and (max-width: 767px) {
  .review-carousel {
    height: auto;
    overflow-x: scroll;
    white-space: nowrap;
  }

  .review-card {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .review-card-no-mirror {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .custom-btn {
    margin: 10px;
  }
}

/* Media query for mobile portrait */
@media only screen and (max-width: 576px) {
  .custom-container {
    width: 100%;
    padding: 0;
  }

  /* ... Existing CSS Rules ... */

  .review-carousel {
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    transition: transform 0.3s ease;
    height: 120%;
  }

  .review-card {
    flex: 0 0 80%;
    margin-right: 6%;
  }

  .review-card-no-mirror {
    flex: 0 0 80%;
    margin-right: 6%;
  }

  .card-img-top {
    height: 30%;
  }

  .review-card .review-content p {
    margin-bottom: 2%;
    height: auto;
  }
}
/* END Review Card */

/* Footer */

/* END Footer */

/* Utility */
.font-family {
  font-family: Lexend Deca;
}

.tombol {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: #5468e780;
  width: 184px;
  height: 47px;
  font-size: 18px;
  font-weight: 400;
  padding: 10px, 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tombol2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5468e7;
  padding: 10px 44px;
  width: 233px;
  height: 47px;
}

/* .tombol2 {
    background-color: #5468E7;
    padding: 10px, 44px, 10px, 44px;
    width: 233px;
    height: 47px;

} */

.warna-titik {
  color: #5468e7;
}

.lead {
  color: white;
  font-size: 18px;
  padding-left: 900px;
}

.form-email {
  /* width: 298px; */
  /* margin-right: 100px; */
  height: 47px;
  padding: 11px, 16px;
  width: 100%;
}
.input-group-text {
  border: none;
  background-color: rgb(255, 255, 255);
}

.lebar-kolom {
  width: 27%;
}

.link-button {
  color: #5468e7;
  font-size: 16px;
  /* display: block;
    margin-bottom: 10px; */
}

.arrow-right {
  margin-left: 8px;
}

.text-model {
  color: #232340;
  font-weight: 700;
  font-size: 50px;
  /* height: 50vh; */
}

/* END Utility */

/* DEKSTOP VERSION */
@media (min-width: 992px) {
  /* Navbar */
  .navbar-brand,
  .nav-link {
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  }

  .nav-link {
    /* text-transform: uppercase; */
    margin-right: 32px;
    font-size: 16px;
    font-weight: 500;
  }

  /* .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0B63DC;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;

    } */

  /* END Navbar */

  /* Jumbotron */
  .jumbotron {
    margin-top: -105px;
    margin-left: auto;
    height: 800px;
  }

  .jumbotron::after {
    display: none;
  }

  .jumbotron .display-4 {
    font-size: 54px;
    padding-left: 0px;
    /* text-align: left; */
    /* color: white;
        margin-right: 100px;
        font-weight: 200;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
        font-size: 40px;
        margin-top: 388.5px; */
  }
  /* END Jumbotron */

  /* Workingspace */
  .workingspace {
    text-align: left;
    margin-top: 120px;
  }

  .workingspace h3 {
    font-size: 50px;
    /* text-transform: uppercase; */
    margin-top: 30px;
    font-weight: 700;
    margin-right: -100px;
  }

  .workingspace p {
    font-size: 18px;
    color: #232340e5;
    font-weight: 200;
    margin-right: -100px;
  }

  /* END Workingspace */

  /* Utility */
  .lead {
    color: white;
    font-size: 18px;
    padding-left: 0px;
  }

  .lead span {
    display: block;
  }

  .lebar-mockup {
    margin-left: 190px;
    margin-top: -70px;
    /* width: 1050.69px; */
    height: 654px;
    float: left;
  }

  .lebar-mockup1 {
    margin-left: 190px;
    /* margin-top: -70px; */
    /* width: 1050.69px; */
    height: 654px;
    float: left;
  }
  /* END Utility */
}
